<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
    <bean id="checkHeaderFilter" class="ru.roox.web.filter.CheckHeaderFilter"/>
	<bean id="authenticationFilter" class="ru.roox.web.filter.AuthenticationFilter">
        <property name="customerService" ref="customerService"/>
    </bean>

    <bean id="customerAssembler" class="ru.roox.web.assembler.impl.CustomerAssemblerImpl" autowire="byName"/>
    <bean id="partnerMappingAssembler" class="ru.roox.web.assembler.impl.PartnerMappingAssemblerImpl" autowire="byName"/>


</beans>
